<div
    class="payment-option
    _collapsible
    opc-payment-additional
    discount-code"
    data-collapsible="true"
    role="tablist"></div>
<div class="actions-toolbar">
    <div class="primary">
        <input
            type="button"
            id="submit-button"
            value="Link FAQ"
            data-bind="click: test()"
            />
    </div>
</div>

<div id="modal">
    <div class="modal-body-content">
        <h2>Sản phẩm này chất lương có tốt không?</h2>
        <p>Sản phẩm chất lượng tốt 100% hàng nhập khẩu.</p>
    </div>
</div>
