<div id="form-shipping" class="form-shipping" >
  <form id="custom-checkout-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')} " > 
      <fieldset class="fieldset">
          <h3 data-bind="i18n: 'Shipping method'"></h3>
          <input class="input-text" type="text" name="shipping-price" id="shipping-price" style="width: 50%;" />
      </fieldset>
      <button type="button" data-bind="click: onSubmit" class="action">
          <span data-bind="i18n: 'Apply'"></span>
      </button>
  </form>
</div>
<script>
    require([
        'mage/url',
        'Magento_Ui/js/block-loader'
    ], function(url, blockLoader) {
        blockLoader("<?= $block->escapeJs($block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))) ?>");
        return url.setBaseUrl('<?= $block->escapeJs($block->escapeUrl($block->getBaseUrl())) ?>');
    })
</script>