<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <example>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>TaskModule\TaskShipping\Model\Carrier\Example</model>
                <name>post office</name>
                <price>12</price>
                <title>Fast</title>
                <type>I</type>
            </example>
        </carriers>
    </default>
</config>